## Example Pipeline for Using API Package

In [3]:
%load_ext autoreload
%autoreload 2

import requests as r
import pandas as pd
import json
from API.API import get_api_data

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
movies2018plus = get_api_data.get_all_movies_2018_plus(api="c677b8af9185df684a2f9cb664f5159d")
movies2018plus[0]

{'adult': False,
 'backdrop_path': '/rl7Jw8PjhSIjArOlDNv0JQPL1ZV.jpg',
 'genre_ids': [10749, 18],
 'id': 851644,
 'original_language': 'ko',
 'original_title': '20세기 소녀',
 'overview': "Yeon-du asks her best friend Bora to collect all the information she can about Baek Hyun-jin while she is away in the U.S. for heart surgery. Bora decides to get close to Baek's best friend, Pung Woon-ho first. However, Bora's clumsy plan unfolds in an unexpected direction. In 1999, a year before the new century, Bora, who turns seventeen, falls into the fever of first love.",
 'popularity': 184.442,
 'poster_path': '/od22ftNnyag0TTxcnJhlsu3aLoU.jpg',
 'release_date': '2022-10-06',
 'title': '20th Century Girl',
 'video': False,
 'vote_average': 8.6,
 'vote_count': 319}

In [10]:
details_movies2018plus = get_api_data.get_2018_plus_movie_details(api="c677b8af9185df684a2f9cb664f5159d", movies2018plus=movies2018plus)
details_movies2018plus[0]

[0, 121, ['Romance', 'Drama']]

In [12]:
apiDF = get_api_data.movie_details_to_df(details_movies2018plus=details_movies2018plus)
apiDF

        revenue    budget                             genres
0             0       121                   [Romance, Drama]
1             0  35000000        [Animation, Fantasy, Drama]
2     257591776  11363000          [Comedy, Thriller, Drama]
3             0         0                          [Romance]
4             0         0                    [Family, Drama]
...         ...       ...                                ...
1751          0         0                           [Comedy]
1752          0         0                         [Thriller]
1753          0         0                           [Horror]
1754          0   3600000          [Action, Thriller, Crime]
1755          0         0  [Horror, Thriller, Action, Drama]

[1756 rows x 3 columns]